<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
  <add key="environment.url" value="http://lond-qadom01/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmailPickupDirectory" value="//lond-qadom02\c$\EmailPickupDirectory" />
  <add key="admin.backend.environment.url" value="http://lond-qadom01:81/adminusers" xdt:Transform="SetAttributes"
       xdt:Locator="Match(key)" />
  <add key="backend.environment.url" value="http://lond-qadom01:81/" xdt:Transform="SetAttributes"
       xdt:Locator="Match(key)" />
   </appSettings>
  <connectionStrings>
    <add name="Dbconnection"
         connectionString="Server=tcp:LOND-QADOM01\QA_RHIDOM;Database=RHI_Domestics;Trusted_Connection=True;"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>