<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
  <add key="environment.url" value="https://colops-rhidewb1/" xdt:Transform="SetAttributes"
       xdt:Locator="Match(key)"  />
  <add key="admin.backend.environment.url" value="https://colops-rhidiwb1/adminusers" xdt:Transform="SetAttributes"
       xdt:Locator="Match(key)"  />
  <add key="backend.environment.url" value="https://colops-rhidiwb1/" xdt:Transform="SetAttributes"
       xdt:Locator="Match(key)"  />
    </appSettings>
</configuration>